// Color Cube

$Woodsmoke: #121117;
$White: #ffffff;
$Abbey: #505051;
$Silver: #babdbe;
$Lagoon: #038483;
$Fountain: #51bdbc;
$TransparentFountain: #51bdbb6e;


// Median Cut

$Shark: #202427;
$Nurse: #e4eae6;
$Gothic: #6c9b9c;
$Smart_blue: #5c828c;
$Bazaar: #947474;


// Material Design

$Eim: #1a948f;
$Shuttle: #5e6063;
$Atoli: #097a7c;
$Ebony: #24343c;
$Bermuda: #7ed5d5;