@use './partials/vars' as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import "node_modules/@fontsource/lato/400.css";
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

.debug {
    background-color: rgba($color: blue, $alpha: .25);
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}